<!DOCTYPE html>
<html>
<head>
    <title>Сброс пароля</title>
</head>
<body>
    <h1>Сброс пароля для вашего аккаунта</h1>
    <p>Здравствуйте!</p>
    <p>Вы запросили сброс пароля для вашего аккаунта.</p>
    <p>Ваш код подтверждения: <strong>{{ code }}</strong></p>
    <p>Этот код действителен в течение {{ expiresInMinutes }} минут.</p>
    <p>Если вы не запрашивали сброс пароля, пожалуйста, проигнорируйте это письмо.</p>
    <br>
    <p>С уважением,</p>
    <p>Команда {{ appName }}</p>
</body>
</html>